@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    /* background-color: rgb(226, 225, 223); */
    /* background-color: rgb(255, 255, 255); */
    background-color: black;
    font-family: 'Roboto';
    /*margin-top: 20px;*/
    margin: 0;
    padding: 0;
}

body > div{
    height: 140px;
    background-color:rgb(226, 225, 223);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

header{
    max-width: 1140px;
    height: 140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
     /*rgb(37, 36, 36)*/;
    color: black;
    /* text-align: center; */
}

header h1{
    font-size: 40px;
}

header h3{
    font-size: 25px;
}

header > div{
    display: flex;
    align-items: center;
}

header > div > div{
    margin-left: 40px;
}

nav{
    display: flex;
    align-items: flex-end;
} 

.logo{ 
    width: 150px;
    /* height: 150px; */
    /*display: inline-block;*/ 
}

#menu ul {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-radius: 5px;
   /* background-color: black;*/
    list-style:none;
}

#menu ul li { 
    height: 55px;
}

#menu ul li a {
    /*transform: translateX(+50%) translateY(-85px);*/
    font-size: 20px;
    padding: 5px 10px;
    display: inline-block;
    /* visual do link */
    color: black;
    text-decoration: none;
    
}
#menu ul li + li{
    margin-left: 20px;
}

#menu ul li a:hover { 
    color: white;
    background-color: black;
    border-radius: 3px;
}

/*COMEÇA CORPO DA PÁGINA*/

section{
    /* color: black; */
    padding: 0px;
   /* background-image: url('../image/img-02.jpg');
    background-size: cover;*/
}

.inicioContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    color: black;
    background-image: url('../image/img-01.jpg');
    height: calc(100vh - 140px);
}

#textoInicio{
    font-size: 40px;
}

/*Começa serviço*/
/*Título Principal de Serviços*/
h1{
    font-size: 25px;
}

.tService{
    font-size: 20px;
}

/*Título Secundário de Serviços*/
#tS{
    font-size: 15px;
}

.tituloServico{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

#totalServico{
    background-color:white;
}

.servicos{
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-between;
    /* text-align: center;  */
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 80px;
}

.servico{
    display: block;
    width: 100%;
    height: 175px;
}

.tService{
    text-align: center;
    font-size: 25px;
}

.sDesc{
    margin-top: 10px;
    font-size: 15px;
}

/* RODAPÉ */

footer{
    background-color: rgb(226, 225, 223);
    padding: 80px;
    color: black;
}